<div class="search_bar">
  <input
  type="text"
  placeholder="Search for a client..."
  [(ngModel)]="searchText"
  autocomplete="off"
  />
  <i
  class="fa fa-plus fa-lg"
  aria-hidden="true"
  data-bs-toggle="modal"
  data-bs-target="#createNewClient"
  ></i>
</div>

<div class="dashboard">
    <table [cellSpacing]="0">
      <tr *ngFor="let item of categories">
        <th width="13%">{{ item.first }}</th>
        <th width="13%">{{ item.second }}</th>
        <th width="25%">{{ item.third }}</th>
        <th width="25%">{{ item.fourth }}</th>
        <th width="17.5%">{{ item.fifth }}</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of listClients | filter:searchText">
        <td>{{ item.Name }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.Address }}</td>
        <td>{{ item.postalCode }}</td>
        <td>{{ item.City }}</td>
        <td>
          <i
          (click)="getId(item.Id)"
            class="fa fa-pencil"
            aria-hidden="true"
            data-bs-toggle="modal"
            data-bs-target="#updateClient"
          ></i
          ><i
          (click)="delete(item.Id)"
            class="fa fa-trash-o"
            aria-hidden="true"
            data-bs-toggle="modal"
            data-bs-target="#deleteClient"
          ></i>
        </td>
      </tr>
    </table>
  </div>

  <div
  class="modal fade"
  id="createNewClient"
  tabindex="-1"
  aria-labelledby="createNewClientLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="createNewClientLabel">
          {{ create }}
        </h1>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"

        ></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="mb-3">
            <label
              for="confirmInput"
              class="col-form-label text-white"
              aria-placeholder="Name"
              >Name:</label
            >
            <input
            [(ngModel)]="client.name"
            name="name" 
            type="text" 
            class="form-control" 
            id="recipient-name"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-white"
              >Last Name:</label
            >
            <input
            [(ngModel)]="client.lastName"
            name="lastName"
            type="text" 
            class="form-control" 
            id="recipient-name" 
            /> 
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-white"
              >Postal Code:</label
            >
            <input
            [(ngModel)]="client.postalCode"
            (blur)="consultaCep(client.postalCode, f)"
            #postalCode="ngModel"
            name="postalCode"
            type="text" 
            class="form-control" 
            id="recipient-name"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-white"
              >Address:</label
            >
            <input
            [(ngModel)]="client.address"
            #address="ngModel"
            name="address"
            type="text" 
            class="form-control" 
            id="recipient-name"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label text-white"
              >City:</label
            >
            <input
            [(ngModel)]="client.city" 
            #city="ngModel"
            name="city"
            type="text" 
            class="form-control" 
            id="recipient-name"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn close_button"
          data-bs-dismiss="modal"
          routerLink="/main_page"
        >
          Close
        </button>
        <button type="button" class="btn create_button" (click)="postNewClient()">Create Client</button>
      </div>
    </div>
  </div>
</div>

<div
    class="modal fade"
    id="updateClient"
    tabindex="-1"
    aria-labelledby="updateClientLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white" id="updateClientLabel">
            {{ update }}
          </h1>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="mb-3">
              <label
                for="recipient-name"
                class="col-form-label text-white"
                aria-placeholder="Name"
                >Name:</label
              >
              <input [(ngModel)]="client.name" name="name" type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label text-white"
                >Last Name:</label
              >
              <input type="text" class="form-control" id="recipient-name" name="lastName" [(ngModel)]="client.lastName"/>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label text-white"
                >Postal Code:</label
              >
              <input 
              type="text" 
              class="form-control" 
              id="recipient-name" 
              name="postalCode" 
              [(ngModel)]="client.postalCode" 
              (blur)="consultaCep(client.postalCode, f)"
              />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label text-white"
                >Address:</label
              >
              <input type="text" class="form-control" id="recipient-name" name="address" [(ngModel)]="client.address"/>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label text-white"
                >City:</label
              >
              <input type="text" class="form-control" id="recipient-name" name="email" [(ngModel)]="client.city"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn close_button"
            data-bs-dismiss="modal"
            routerLink="/main_page"

          >
            Close
          </button>
          <button type="submit" class="btn create_button" (click)="putClient(client.id)">Update Client</button>
        </div>
      </div>
    </div>
  </div>
