<div class="main">
  <div class="login_box">
    <div class="login_wrapper">
      <h1>Login</h1>
      <label for="email"></label>
      <input [(ngModel)]="userLogin.email" type="email" placeholder="Email" id="email_input" />
      <br />
      <label for="password"></label>
      <input [(ngModel)]="userLogin.password" type="password" placeholder="Password" />
      <br />
      <div id="login_button"><button (click)="login()">Log in</button></div>
      <div class="signup"><a routerLink="/signup" href="">Sign up</a></div>
    </div>
  </div>
</div>
