.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  width: 100vw;
  height: 100vh;

  background: #29253c;
  overflow-y: auto;
}

.title_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_div h1 {
  font-size: 3rem;
  margin-bottom: 1.3rem;
  color: #fefefe;
}

.title_div i {
  color: #fefefe;
}

.title_div a {
  cursor: pointer;
  color: #fefefe;
  font-size: 1.3rem;
}

.title_div a:hover {
  text-decoration: underline;
}

.title_div span:hover {
  text-decoration: underline;
}

.search_bar input {
  width: 30%;
  border: solid 1px #7a7a8c !important;
}

.search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_bar i {
  margin-left: 2rem;
  color: rgb(66, 222, 66);
  cursor: pointer;
  transition: 0.2s;
}

.search_bar i:hover {
  color: rgb(36, 159, 36);
}

.search_bar input[type="text"],
textarea {
  background: transparent;

  height: 50px;
  padding: 15px;

  border-radius: 15px;

  border: 0;
  outline: 0;

  color: #fefefe;
}

.search_bar input:focus {
  outline: none !important;
}

.dashboard {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard table {
  width: 100%;
}

.dashboard th {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: var(--categorie-color);
  background: var(--categories-background);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.dashboard th:first-child {
  border-left: 1px solid var(--border);
  border-top-left-radius: 20px;
}

.dashboard th:last-child {
  border-right: 1px solid var(--border);
  border-top-right-radius: 20px;
  width: 192px;
}

.dashboard td {
  padding: 10px;
  border-bottom: 1px solid var(--border);
  color: var(--white);
}

.dashboard td:first-child {
  border-left: 1px solid var(--border);
}

.dashboard td:last-child {
  border-right: 1px solid var(--border);
}

tbody i {
  transition: 0.2s;
}

tbody i {
  cursor: pointer;
}

tbody i:hover {
  color: var(--icons-hover);
}

.modal-content {
  background: var(--background);
  border: 1px solid var(--border);
}

.modal-header {
  border-bottom: 1px solid var(--border);
}

.modal-footer {
  border-top: 1px solid var(--border);
}

#recipient-name {
  background: var(--categories-background);
  color: var(--white);
}

.close_button {
  background: var(--categories-background);
  color: var(--white);
}

.create_button {
  background: var(--categorie-color);
  color: var(--white);
}

#exampleModalLabel {
  color: var(--white);
}
