<div class="wrapper">
  <div class="title_div">
    <h1>Clients List</h1>
    <a href="" routerLink="/login"
      >Exit <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i
    ></a>
  </div>
  <div class="search_bar">
    <input type="text" placeholder="Search" />
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
  </div>
  <div class="dashboard">
    <table [cellSpacing]="0" *ngFor="let item of listClients">
      <thead>
        <tr>
          <th width="13%">Id</th>
          <th width="13%">Name</th>
          <th width="13%">Last Name</th>
          <th width="18%">Email</th>
          <th width="18%">Address</th>
          <th>Postal Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ item.Name }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.Email }}</td>
          <td>{{ item.Address }}</td>
          <td>{{ item.postalCode }}</td>
          <td>
            These are red.<i class="fa fa-trash-o" aria-hidden="true"></i
            ><i class="fa fa-pencil" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
