.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  width: 100vw;
  height: 100vh;

  background: #29253c;
  overflow-y: auto;
}

.title_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_div h1 {
  font-size: 3rem;
  margin-bottom: 1.3rem;
  color: #fefefe;
}

.title_div i {
  color: #fefefe;
}

.title_div a {
  cursor: pointer;
  color: #fefefe;
  font-size: 1.3rem;
}

.title_div a:hover {
  text-decoration: underline;
}

.title_div span:hover {
  text-decoration: underline;
}
