<div class="main">
  <div class="login_box">
    <div class="login_wrapper">
      <h1>Sign up</h1>
      <label for="name"></label>
      <input [(ngModel)]="user.name" type="text" placeholder="Name" name="name" id="name" />
      <br />
      <label for="email"></label>
      <input [(ngModel)]="user.email" type="email" placeholder="Email" />
      <br />
      <label for="password"></label>
      <input (input)="confirmPassword($event)" type="password" placeholder="Password" />
      <br />
      <label for="confirmPassword"></label>
      <input [(ngModel)]="user.password" type="password" placeholder="Confirm password" />
      <br />
      <div id="login_button"><button (click)="signUp()">Create Account</button></div>
      <div class="links">
        <div class="signup">
          <a href="" routerLink="/login">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
