<div class="main">
  <div class="login_box">
    <div class="login_wrapper">
      <h1>Sign up</h1>
      <input type="text" placeholder="Name" />
      <br />
      <input type="text" placeholder="Email" />
      <br />
      <input type="text" placeholder="Password" />
      <br />
      <div id="login_button"><button>Create Account</button></div>
      <div class="links">
        <div class="signup">
          <a href="" routerLink="/login">Back</a>
        </div>
        <div class="signup">
          <a href="">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
